.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gradientBackground {
    background: linear-gradient(300deg,#000000,#011740,#013a4a,#000000);
    background-size: 240% 240%;
    animation: gradient-animation 24s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.title {
    font-size: 36px;
    color: #d6d6d6;
}

.iconsBox {
    display: flex;
    flex-direction: row;
    font-size: 33px;
    width: 16%;
    justify-content: space-evenly;
    margin-top: 15px;
}

.button {
    color: rgb(166, 166, 166);
    text-decoration: none;
}

@media (max-width: 479px) {
    .iconsBox {
        display: flex;
        flex-direction: row;
        font-size: 33px;
        width: 90%;
        justify-content: space-evenly;
        margin-top: 15px;
    }
    .title {
        text-align: center;
        font-size: clamp(30px, 100vw, 36px);
    }
  }